* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #AAB396;

}

/* form Styling */
fieldset{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

/*  Heading */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 2%;
    
}

/* Form and Fieldset Styling */
form {
    margin-bottom: 20px;
}
legend{
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width:100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

textarea {
    height: 100px;
}

/* Button Styling */
button {
    background-color: #485c70;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: #208c34;
}

/* Resume Content Styling */
 #resume-content {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: auto;
    text-decoration: none;
    margin-bottom: 20px;
    

    
}
#resume-link{
    position: absolute;
    left: 30%;
    margin-bottom: 20px;
    text-decoration: none;
    color:rgb(12, 65, 227);
   
    
}

#download-pdf {
    background-color: #485c70;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    position: absolute;
    left: 30%;
    margin-bottom: 20px;
    margin-top: 30px;
   

}

/* Editable Section Styling */
#resume-content[contenteditable="true"] {
    border: 2px dashed #007bff; /* Visual indication that the content is editable */
    align-items: center;
}
footer p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    max-width: 600px;
    margin: 20px auto;
    }
footer{
    margin-top: 100px;
}

